@keyframes silence{
	0%{
		opacity: 1
	}
	100%{
		opacity: 0
	}
}
@keyframes silence2{
	0%{
		transform: scale(0.05, 0.05);
	}
	2%{
		transform: scale(0.04,0.04);
	}
	100%{
		transform: scale(3, 3);
	}
}

.background{
	width: 1530px;
	height: 640px;
	position: absolute;
	z-index: 2;
}
.dot{
  	height: 400px;
  	width: 400px;
  	margin-top: 150px;
  	margin-left: 550px;
  	background-color: white;
  	border-radius: 50%;
	animation: silence,silence2;
	animation-duration: 1s,1s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
	position: absolute;
	z-index: 3;
}
.maindot{
  	width: 1530px;
  	height: 655px;
  	background-color: black;
	animation: silence;
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
	position: absolute;
}
.dot:hover{
	animation-play-state: running;
	animation-timing-function: ease-in;
}
.dot:hover + .maindot{
	animation-play-state: running;
	animation-timing-function: ease-in;
}
.back{
	width: 1530px;
	display: block;
	z-index: 1;
}
